<div class="container">
    <h1>Member Detail</h1>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td>
                    <%= member.name %>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td>
                    <%= member.address %>
                </td>
            </tr>
            <tr>
                <td>Position</td>
                <td>:</td>
                <td>
                    <%= member.position %>
                </td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>:</td>
                <td>$<%= member.salary %>/year</td>
            </tr>
        </tbody>
    </table>
    <h3><a class="add-button" href="/members/edit/<%= member._id%>">EDIT</a></h3>
    <form action="/members/delete/<%= member._id%>" method="post">
        <button class="btn btn-danger" type="submit">DELETE</button>
    </form>
</div>